.main-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(223, 180, 124);
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 20px;
  padding: 30px;
}

.main-heading {
  color: rgb(177, 66, 22);
}

.choices {
  margin-bottom: 30px;
}
.choices button {
  font-size: 4.5rem;
  min-width: 60px;
  margin: 0 10px;
  background-color: rgb(111, 33, 6);
  border-radius: 250px;
  cursor: pointer;
}

.choices button:hover{
 background-color: rgb(177, 66, 22);
}

.players-choice {
  color: rgb(177, 66, 22);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: 600;
}

.greenText{
  color: green;
}

.redText{
  color: red;
}
